---
layout: default
---

<div>
  <ul class="BlogList">
    {% for post in site.posts %}
      <li class="BlogList__item">
        <header class="post-header">
          <a href="{{ post.url | relative_url }}"><h1 class="Heading Heading--highlight">
            {{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}
          </h1></a>

          <p class="BlogList__meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.data.authors[post.author].name }}, {{ site.data.authors[post.author].job_title }}</span></span>{% endif %}{% if post.categories != empty %} • {% include category_links.html categories=post.categories %}{% endif %}</p>
        </header>

        <div class="BlogList__content Prose">
          {{ post.excerpt }}
        </div>
        {% if post.content contains site.excerpt_separator %}
          <p class="BlogList__continue">
            <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
